* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #FBDE44FF;
}

.content {
    background-color: #28334AFF;
    color: #FBDE44FF;
    margin: 1rem;
    border-radius: 2rem;
}